@import url("https://cdn.jsdelivr.net/npm/@xz/fonts@1/serve/plus-jakarta-display.min.css");

.App {
  text-align: center;
}

*{
  /* background-color: linear-gradient(to bottom right, #03045e, #023e8a); */
  font-family: 'Plus Jakarta Display', sans-serif;
}

.background{
  background-image: linear-gradient(to bottom right, #03045e, #023e8a);
}

.bg2{
  color: #03045e;
}

.bg3{
  background-color: #001233;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
